body {
  background: url('./poke.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-wrapper {
  color: black;
  font-family: sans-serif;
}

.card {
  font-family: sans-serif;
  border: 5px solid black;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px !important;

}

.container {
  columns: 3;
  padding-top: 10px;
}
